[Desktop Entry]
# The format of this file is specified at
# https://specifications.freedesktop.org/desktop-entry-spec/1.0/
# The entries are in the order they are listed in version 1.0
Type=Application
# This is the version of the spec for this file, not the application version.
Version=1.0
Name=Wireshark (on fedora)
Name[vi]=Wireshark (on fedora)
GenericName=Network Analyzer (on fedora)
GenericName[af]=Netwerk Analiseerder (on fedora)
GenericName[az]=Şəbəkə Analiz Proqramı (on fedora)
GenericName[bg]=Анализатор на мрежови трафик (on fedora)
GenericName[bs]=Mrežni analizer (on fedora)
GenericName[ca]=Analitzador de xarxa (on fedora)
GenericName[cs]=Analyzátor sítě (on fedora)
GenericName[da]=Netværksanalyse (on fedora)
GenericName[de]=Programm für die Netzwerk-Analyse (on fedora)
GenericName[el]=Αναλυτής Δικτύων (on fedora)
GenericName[en_GB]=Network Analyser (on fedora)
GenericName[eo]=Retanalizilo (on fedora)
GenericName[es]=Analizador de redes (on fedora)
GenericName[et]=Võrguliikluse analüsaator (on fedora)
GenericName[eu]=Sare ikerketaria (on fedora)
GenericName[fa]=تحلیل‌گر شبکه (on fedora)
GenericName[fi]=Verkkoanalysaattori (on fedora)
GenericName[fr]=Analyseur réseau (on fedora)
GenericName[he]=מאבחן רשת (on fedora)
GenericName[hr]=Program za analiziranje mreža (on fedora)
GenericName[hu]=hálózatanalizáló (on fedora)
GenericName[id]=Analisis jaringan (on fedora)
GenericName[is]=Netskoðunartól (on fedora)
GenericName[it]=Analizzatore di rete (on fedora)
GenericName[ja]=ネットワークアナライザ (on fedora)
GenericName[ko]=네트워크 분석기 (on fedora)
GenericName[lo]=ເຄື່ອງມືວິເຄາະເຄືອຂ່າຍ (on fedora)
GenericName[lt]=Tinklo analizatorius (on fedora)
GenericName[lv]=Tīkla Analizators (on fedora)
GenericName[mk]=Анализатор на мрежи (on fedora)
GenericName[mn]=Сүлжээ-шинжлэлийн програм (on fedora)
GenericName[mt]=Analizzatur tan-network (on fedora)
GenericName[nb]=Nettverksanalysator (on fedora)
GenericName[nl]=netwerkanalyseprogramma (on fedora)
GenericName[nn]=Nettverksanalysator (on fedora)
GenericName[nso]=Moahlaahli wa Kgokagano (on fedora)
GenericName[pl]=Analizator sieci (on fedora)
GenericName[pt]=Analisador de Redes (on fedora)
GenericName[pt_BR]=Analisador de rede (on fedora)
GenericName[ro]=Analizor de reţea (on fedora)
GenericName[ru]=Анализатор сетевого трафика (on fedora)
GenericName[se]=Fierbmeanalysa (on fedora)
GenericName[sk]=Analyzátor siete (on fedora)
GenericName[sl]=Analizator omrežij (on fedora)
GenericName[sr]=Analizatror mreže (on fedora)
GenericName[ss]=Sihlatiyi seluchungechunge (on fedora)
GenericName[sv]=Nätverksanalyserare (on fedora)
GenericName[ta]=Å¨Ä ¬öÅ¡Ç÷ (on fedora)
GenericName[th]=เครื่องมือวิเคราะห์เครือข่าย (on fedora)
GenericName[tr]=Ağ Analiz Programı (on fedora)
GenericName[uk]=Аналізатор мережі (on fedora)
GenericName[ven]=Musengulusi wa Vhukwamani (on fedora)
GenericName[vi]=Trình phân tích  mạng (on fedora)
GenericName[xh]=Umcukucezi Womsebenzi womnatha (on fedora)
GenericName[zh_CN]=网络分析程序 (on fedora)
GenericName[zh_TW]=網路分析程式 (on fedora)
GenericName[zu]=Umhloli Woxhumano olusakazekile (on fedora)
Comment=Network traffic analyzer
Comment[fi]=Verkkoliikenne analysaattori
Comment[fr]=Analyseur de trafic réseau
Comment[sv]=Nätverkstrafikanalysator
Comment[af]=Netwerkverkeer analiseerder
Comment[sq]=Analizues i trafikut të rrjetit
Comment[ast]=Analizador de tráficu de rede
Comment[bn]=নেটওয়ার্ক ট্রাফিক বিশ্লেষক
Comment[bg]=Анализатор на мрежовия трафик
Comment[bs]=Analizator mrežnoga prometa
Comment[pt_BR]=Analisador de tráfego de rede
Comment[et]=Võrguliikluse analüüsija
Comment[nl]=Netwerkverkeer analyseren
Comment[da]=Netværkstrafikanalyse
Comment[cs]=Analyzátor síťového přenosu
Comment[gl]=Analizador do tráfico de rede
Comment[el]=Ανάλυση κίνησης δικτύου
Comment[de]=Netzwerkverkehr-Analyseprogramm
Comment[hu]=Hálózatiforgalom-elemző
Comment[it]=Analizzatore del traffico di rete
Comment[ja]=ネットワークトラフィックアナライザー
Comment[ko]=네트워크 트래픽 분석기
Comment[ky]=Тармактык трафикти анализдөө
Comment[lt]=Tinklo duomenų srauto analizatorius
Comment[ms]=Penganalisa trafik rangkaian
Comment[nb]=Nettverkstrafikk-analysator
Comment[oc]=Analisador de tramas de ret
Comment[pt]=Analisador de tráfego da rede
Comment[pl]=Analizator ruchu sieciowego
Comment[ro]=Analizator trafic de rețea
Comment[ru]=Анализ сетевого трафика
Comment[sk]=Analyzátor sieťovej premávky
Comment[es]=Analizador de tráfico de red
Comment[sl]=Preučevalnik omrežnega prometa
Comment[tr]=Ağ trafiği çözümleyicisi
Comment[vi]=Trình phân tích giao thông mạng
Comment[uk]=Аналізатор мережевого трафіку
Icon=org.wireshark.Wireshark
Exec=/usr/bin/distrobox-enter --root -n fedora -- sudo -S /usr/bin/wireshark  %f 
Terminal=true
MimeType=application/vnd.tcpdump.pcap;application/x-pcapng;application/x-snoop;application/x-iptrace;application/x-lanalyzer;application/x-nettl;application/x-radcom;application/x-etherpeek;application/x-visualnetworks;application/x-netinstobserver;application/x-5view;application/x-tektronix-rf5;application/x-micropross-mplog;application/x-apple-packetlogger;application/x-endace-erf;application/ipfix;application/x-ixia-vwr;
# Category entry according to:
# https://specifications.freedesktop.org/menu-spec/1.0/
Categories=Application;Network;Monitor;Qt;
StartupWMClass=wireshark
